
* {text-align: center;}

body {
    margin: 0 80px;
}

p {
    line-height: 1px;
}

li {
    list-style-type: none;
    list-style-position: inside
}
.searchbar {
    background-color: rgb(236, 235, 235);
    
} 

.box {
    float: left;
    height: 100px;
    margin: 1px;
    
}

.box-1 {
    background-color: #7EE5DA ;
    width: 36%;
}

.box-2 {
    background-color: #70CCC2 ;
    width: 26%;
}

.box-3 {
    background-color: #62B3AA ;
    width: 37.5%;
}

.first-text {
    line-height: -1px;
}